<h1>SwitchTest</h1>
<%= form_for :work , url: switch_test_work_path do |f| %>
  <table >
    <thead >
    <tr >
      <% @name_comports.each do |comport| %>
        <th>
        <p class="center">
          <%= f.label comport %>
        </p>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @name_comports.each_index do |i| %> 
        <th class="select_check_box"> 
        <%= f.fields_for @name_tty[i] do |fields| %>        
           <%= fields.check_box @name_tty[i],{}, true, false %> 
           <%= fields.select @switch_tty[i] , @model_switches %> 
        <% end %>
        </th>
      <% end %>
    </tr>
    <tbody>
  </table>
  <p class="center save">
    <%= f.submit %>
  </p>
<% end %>



